body {
    background: #0a1a24;
    color: #ffffff;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.containerList {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.list-group {
    margin-right: 20px;
}

.containerList {
    margin-right: 20px;
}

.list-group-item {
    border-radius: 7px;
    width: 260px;
    height: 200px;
    padding-left: 30px;
    float: left;
    margin-right: 6px;
    margin-top: 8px;
    background: rgba(185, 185, 185, 0.7);
}

.list-group-item h4{
    color: #171717;
}

.list-group-item h5{
    color: #171717;
}

.list-group-item img{
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}