.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    padding: 20px;
    width: 300px;
    height: 300px;
}

.bs-example{
    margin: 20px;
}

.carousel-caption {
    background-color: rgba(85, 85, 85, 0.65);


}

